# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Next.js dev/build outputs
.next
out

# Node dependencies
node_modules

# Logs
logs
*.log
tsconfig.tsbuildinfo

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
